{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/style.css' %}{% endblock %}
{% block content %}
<div class="user_feed">
    {% include 'partial/posts_form.html' %}
    {% if request.user != post.author %}
      
        <form method="post">
            {% csrf_token %}
            <div class="row comments">
              <h6 id="write_comment">Написать комментарий</h6>
                <div class="col-12">
                    {{form.text}}
                </div>
              <button type="submit" class="btn btn-primary mt-3 mb-3">Комментировать</button>
            </div>
            
        </form>
      {% endif %}
      {% for comment in post.p_comment.all %}
        <div class="card comments" data-artId="{{comment.pk}}">
          <div class="card-body">
            <span class="card-title fs-4 fw-medium">
                <a href="{% url 'accounts:profile' comment.get_author.pk %}" class="text-dark" style="text-decoration: none;">{{comment.get_author}}</a>
            </span>
            <p class="card-text">{{comment.text}}</p>
            {% if request.user == comment.author %}
              <button id='delete_comment' class="btn btn-danger" value="{{comment.pk}}">Удалить</button>
            {% endif %}
          </div>
            
        </div>
      {% endfor %}
    </div>  
  </div>
</div>
<script>
  $(document).on('click', '#delete_comment', function(e) {
      const val = $(this).val()
      const an = $(this).attr('id')
      e.preventDefault()
      $.ajax({
          headers: {"X-CSRFToken": '{{csrf_token}}'},
          type: 'POST',
          url: "{% url 'delete_comment' %}",
          data: {
              commentid: $(this).val(),
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action: 'post'
          },
          success: function(json) {
              console.log(json)
              let c = `"${val}"`
              let comment = document.querySelector(`[data-artId=${c}]`)

              comment.remove()
          }
      })
  })
</script>
{% endblock %}